cloud_id                 = "1234"
folder_id                = "67890"
zone                     = "ru-central1-a"
zone_app                 = "ru-central1-a"
image_id                 = "1234352"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "999999999999999"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/appuser"
count_app                = 1
